{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Jaguar</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est possimus dolorem porro architecto eligendi accusamus ullam voluptatem cupiditate, soluta ipsum ad, rem quo eius unde. Ea ut aperiam libero nesciunt!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/jaguar.png" class="img-thumbnail" width="100px;">
    </div>
</div>
{{> foot}}